.big-title-center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: xx-large;
}

.v-big-title-center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 32pt;
}

.center-margin {
    margin-left: auto;
    margin-right: auto;
}