button {
    padding: 10px;
    border: none;
    border-right: 4px solid white;
}

button:focus {
    color: rgb(133, 133, 133) !important;
}

.small-text {
    font-size: medium;
    // font-weight: bold;
    color:rgb(133, 133, 133);
}

.med-text {
    font-size: x-large;
    // font-weight: bold;
    color:rgb(91, 91, 91);
}

.big-text {
    font-size: xx-large;
    // font-weight: bold;
    color:rgb(91, 91, 91);
}

.lorge-text {
    font-size: 32pt;
    // font-weight: bold;
    color:rgb(91, 91, 91);
}

.title-center {
    margin-left: auto;
    margin-right: auto;
    font-size: large;
}